<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="text-align:center" >Under Construction</h5>

      </div>
      <div class="modal-body" style="text-align:center;">
        <img src="static/assets/img/under_construction.gif" class="img-gif"  alt="Under Construction" width="150" height="auto"  />
        <p overflow="hidden">This website is under constant changes. In order to attempt </p>

      </div>
    </div>
  </div>
</div>